.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid green;
    border-radius: 15px;
    width: 40%;
    margin: 10px auto;
}

button {
    margin: 10px;
    background-color: aqua;
    border-radius: 15px;
}

button:hover {
    background-color: cornflowerblue;
}

img {
    max-width: 50vh;
    margin: 10px;
}